.msg1,
.msg2,
.msg3 {
    margin: 10px;
    padding: 15px;
    text-transform: capitalize;
    position: absolute;

}

.greet {

    background-color: yellow;

    padding: 10px;

    height: 300px;
    /* position: relative; */




}

.msg1 {
    background-color: aqua;
    /* position: fixed;
    top: 50px;
    /* bottom: 30px;
    right:10px;
    left:65%; */ 
    z-index: 0;
    top: 100px;


}

.msg2 {
    background-color: rgb(233, 171, 249);
    z-index: 10;
    top:80px;

}

.msg3 {
    background-color: rgb(243, 135, 135);
    z-index: 3;
    top:93px;
}