* {
    margin: 0px;
    padding: 0px;
}

.login_page {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.logo {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
}

.login_container {
    border: 1px solid rgb(212, 211, 211);
    padding: 20px;
    width: 240px;
    border-radius: 4px;

}

.signin {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 20px;


}

.inputbox {
    display: flex;
    flex-direction: column;
}

 .inputbox label {
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.inputbox input {
    padding: 4px 0;
    margin: 0 0 15px 0;
}

.signinBtn input {
    width: 100%;
    text-align: center;
    padding: 4px 0;
    margin-bottom: 10px;
    background-color: #dfc029;
    border-color: #dfc029;
    border-radius: 4px;


}

.blue {
    color: rgb(7, 149, 205)
}

.conditions {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
    /* padding:  0; */
 }

.checkbox {
    padding: 5px;
    font-size: 13px;
    margin: 10px 0;
} 

.newto {
    margin: 30px 0 10px 0 ;
    font-size: 13px;
    color: grey;
    text-align: center;
    height: 1px;
    background-color: gray;
    /* z-index: 10; */

 }

.newto span {
    position: relative;
    top: -9px;
    background-color: white;
    padding: 0 5px;
    /* margin-top: 30px;
     */
    /* margin: 500px, 0, 10px, 0; */
    



 }

.create input {
    margin: 20px 0 0 0;
    width: 100%;
    text-align: center;
    padding: 4px 0;
    /* border-radius: 4px; */
 }

.footer{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(239, 238, 238);
    width: 100%;
    height: auto;
    /* font-size: 10px; */
    
} 

.footer ul{
    display: flex;
    /* flex-direction: row; */
    /* align-self: space-between; */
     margin: 30px 0 20px 0;

    gap:20px;
    list-style: none;
    
    
}