.minc{
    /* align-items: center; */
    border: 2px solid indigo;
    height: min-content;

}

.maxc{
    border: 2px solid rgb(131, 83, 165);
    max-width: min-content;
    
}

.fitc{
    border: 2px solid rgb(201, 8, 121);
    height: fit-content;
    /* opacity: 0.5; */
}
